*.swp
vim/.VimballRecord
vim/.netrwhist
vim/autoload/plug.vim
vim/bundle/
vim/spell/*
vim/undodir/
pentadactyl/info/
/xmonad/xmonad-x86_64-linux
/xmonad/xmonad.errors
/xmonad/xmonad.hi
/xmonad/xmonad.o
