snippet #!
	#!/usr/bin/env python

snippet import
	import ${1:module}
snippet from
	from ${1:package} import ${2:module}
snippet for
	for ${1:needle} in ${2:haystack}:
		${3}
snippet if
	if ${1}:
		${2}
snippet _
	__${1:init}__${2}
snippet super
	super(`GetCurrentPythonClass()`, `GetFirstPythonArg()`).`GetCurrentPythonMethod()`(${1:`GetCurrentPythonArgs()`})${2}
